@font-face {
  font-family: 'Roboto';
  src: url(Roboto-Regular.ttf);
}


.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.table-view-cell .icon {
  color: #007aff;
}

.homeTop {
  height: 150px;
  width: 100%;
  background: #1976D2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.homeBottom {
  height: 100vh;
  width: 100%;
  background: #1E8AE7;
  padding-top: 150px;
  box-sizing: border-box;
  overflow-y: scroll; 
}

.homeText {
  width: 300px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  font-size: 24px;
  text-align: left;
  line-height: 32px;
  margin-top: 35px;
}

.homeFooter {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  font-size: 15px;
  padding: 7px 0 7px 0;
  background: #1E8AE7;
}

.home {
  text-align: center;
  color: #BBDEFB;
}

.home input {
  position: absolute;
  top: 112px;
  width: 300px;
  z-index: 10;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 36px;
  color: #fff;
  height: 78px;
}

.homeWrapper {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  font-family: 'roboto', sans-serif;
  color: #BBDEFB;
}

.splashScreen {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #2093F0;
  z-index: 15;
  text-align:center;
}

.splashTitle {
  margin-top: 232px;
  color: #fff;
  font-size: 77px;
  height: 56px;
}

.splashSub {
  font-size: 24px;
}




